@font-face {
    font-family: 'StretchPro';
    src: url(StretchPro.otf);
}
@font-face {
    font-family: 'Akira';
    src: url(Akira.woff);
}
@font-face {
    font-family: 'Apex New Book';
    src: url(ApexNew-Book.woff) ;
}
@font-face {
    font-family: 'Apex New Medium';
    src: url(ApexNew-Medium.woff);
}
@font-face {
    font-family: 'Roboto Black';
    src: url(Roboto-Black.woff);
}

/* barra de navegação */
.nav-container {
    max-width: 2560px;
    background-image: radial-gradient(circle, #e7e7e7, #ececec);
    width: auto;
    margin: -8px;
    position: relative;
    height: 150px;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.5);
}
#logo-nav{
    margin-top: 25px;
    margin-left: 50px;
    position: relative;
}
.nav-container ul{
    float: right;
    height: 150px;
    line-height: 150px;
    margin: 0;
    margin-right: 50px;
}
.nav-container li{
    margin: 0 15px;
    float: left;
    list-style: none;
    font-family: 'Rockford Sans Light';
    font-size: 17px;
}
.nav-container li a{
    text-decoration: none;
    color: #001c58;
    transition-duration: 0.7s;
}
.nav-container li a:hover{
    font-size: 20px;
    text-decoration: underline;
}

body{
    background-image: radial-gradient(circle, #e8e7e8, #eaeaea);
    background-attachment: fixed;
}
/* corpo principal */

main{
    background-color: #f0f0f0;
    max-width: 1035px;
    margin: auto;
    padding: 150px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.container-principal{
    position: relative;
    text-decoration: center;
    color: white;
    margin: -150px -150px -0px -150px;
}
.title-principal{
    position: absolute;
    top: 90px;
    left: 130px;
    font-family: 'Akira';
    font-size: 60px;
}
.nav-principal{
    font-size: 14pt;
    position: absolute;
    bottom: 80px;
    left: 150px;
    font-family: 'Apex New Book';
}
.nav-principal a{
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}
.nav-principal a:hover{
    font-size: 18px;
}

h1{
    font-family: 'Akira';
    font-size: 30px;
    text-transform: uppercase;
    color: #001c58;
    padding-bottom: 10px;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-width: 3px;
    margin-bottom: 10px;
}
.jogadores-container {
    max-width: 1035px;
    display: inline-flex;
}
.jogadores-card{
    margin: 10px;
}
.jogadores-img {
    max-width: 280px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0px 22px 15px rgba(0, 0, 0, 0.0);
    border-style: solid;
    border-width: 1px;
    border-color: #afafaf;
}
.jogadores-subtitle {
    position: absolute;
    margin-top: -70px;
    font-size: 20px;
    font-family: 'Apex New Medium';
    color: white;
    padding-left: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 262px;
}
.jogadores-numero-small {
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'StretchPro';
    font-size: 94px;
    display: inline-block;
    margin-top: 214px;
    margin-left: -65px;
}
.jogadores-numero {
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'StretchPro';
    font-size: 94px;
    display: inline-block;
    margin-top: 214px;
    margin-left: -150px;
}
p{
    font-family: 'Apex New Book';
    color: #4b4b4b;
    text-align: justify;
}
ul{
    list-style-type: none;
    display: inline-flex;
    margin-left: -20px;
}
li{
    margin-right: 30px;
}
ul .pic a{
    transition-duration: 0.3s;
}
ul .pic a:hover{
    background-color: #001c58;
    padding-bottom: 5px;
}

footer{
    margin: -8px;
    background-color: white;
    padding: 80px;
    text-align: center;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  }
  
  .social-media{
    display: inline-flex;
    text-align: center;
  }
  .social-media li{
    margin-right: 60px;
  }
  
  .creditos{
    text-align: center;
    background-color: #001c58;
    color: white;
    font-family: 'Stretch Pro';
    font-size: 16px;
    text-transform: uppercase;
    padding: 23px;
    margin: -8px;
  }
